[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/glew"]
	path = vendor/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
